<a href="https://colab.research.google.com/github/Jomapime/Manejo_de_datos_en_Python/blob/main/Codigos/Segunda_clase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manipulaci√≥n de datos.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
df = pd.read_csv(url, header=None) #Cargar archivo csv, header = none cuando la base de datos no tiene nombres de columnas.

In [ ]:
df.head(10)
df.tail(10)

   0    1            2    3      4     5   ...    20   21    22  23  24     25
0   3    ?  alfa-romero  gas    std   two  ...   9.0  111  5000  21  27  13495
1   3    ?  alfa-romero  gas    std   two  ...   9.0  111  5000  21  27  16500
2   1    ?  alfa-romero  gas    std   two  ...   9.0  154  5000  19  26  16500
3   2  164         audi  gas    std  four  ...  10.0  102  5500  24  30  13950
4   2  164         audi  gas    std  four  ...   8.0  115  5500  18  22  17450
5   2    ?         audi  gas    std   two  ...   8.5  110  5500  19  25  15250
6   1  158         audi  gas    std  four  ...   8.5  110  5500  19  25  17710
7   1    ?         audi  gas    std  four  ...   8.5  110  5500  19  25  18920
8   1  158         audi  gas  turbo  four  ...   8.3  140  5500  17  20  23875
9   0    ?         audi  gas  turbo   two  ...   7.0  160  5500  16  22      ?

[10 rows x 26 columns]

In [ ]:
columnas = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

df.columns = columnas #Agregar nombres de columnas.
df.head() #Imprimir los primeros 6 datos del DataFrame.

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

### Importar otras bases de datos

In [ ]:
mnist = pd.read_csv("/content/sample_data/mnist_test.csv") #Importar bases de datos de colab
mnist.head()

   7  0  0.1  0.2  0.3  0.4  ...  0.662  0.663  0.664  0.665  0.666  0.667
0  2  0    0    0    0    0  ...      0      0      0      0      0      0
1  1  0    0    0    0    0  ...      0      0      0      0      0      0
2  0  0    0    0    0    0  ...      0      0      0      0      0      0
3  4  0    0    0    0    0  ...      0      0      0      0      0      0
4  1  0    0    0    0    0  ...      0      0      0      0      0      0

[5 rows x 785 columns]

In [1]:
from google.colab import files
files.upload() #Importar archivos del computador.

{}

In [ ]:
excel = pd.read_excel("TASAS.xlsx") #Carga de archivo xlsx.
excel.head()

  Fecha (dd/mm/aaaa)      TRM  Unnamed: 2 Fecha (dd/mm/aaaa).1   TPM
0         2019-09-30  3462.01         NaN           2019-09-30  4.25
1         2019-10-01  3477.45         NaN           2019-10-01  4.25
2         2019-10-02  3491.29         NaN           2019-10-02  4.25
3         2019-10-03  3497.34         NaN           2019-10-03  4.25
4         2019-10-04  3467.60         NaN           2019-10-04  4.25

## Introducci√≥n a pandas.

In [ ]:
#print(df.dtypes) #Tipos de las variables

df.describe() #Resumen de las variables cuantitativas
df.describe(include = [object]) #Resumen de las variables cualitativas
df.describe(include = "all") #Resumen de todo.

         symboling normalized-losses    make  ...    city-mpg highway-mpg price
count   205.000000               205     205  ...  205.000000  205.000000   205
unique         NaN                52      22  ...         NaN         NaN   187
top            NaN                 ?  toyota  ...         NaN         NaN     ?
freq           NaN                41      32  ...         NaN         NaN     4
mean      0.834146               NaN     NaN  ...   25.219512   30.751220   NaN
std       1.245307               NaN     NaN  ...    6.542142    6.886443   NaN
min      -2.000000               NaN     NaN  ...   13.000000   16.000000   NaN
25%       0.000000               NaN     NaN  ...   19.000000   25.000000   NaN
50%       1.000000               NaN     NaN  ...   24.000000   30.000000   NaN
75%       2.000000               NaN     NaN  ...   30.000000   34.000000   NaN
max       3.000000               NaN     NaN  ...   49.000000   54.000000   NaN

[11 rows x 26 columns]

In [ ]:
df["symboling"] #Seleccionar columna symboling
df["make"] #Seleccionar columna make

df["num-of-doors"].value_counts() #Cuenta la cantidad de veces que se repiten las observaciones en num of doors.
df["make"].value_counts() #Cuenta la cantidad de veces que se repiten las observaciones en num of doors.

df["Nueva"] = df["symboling"]+1 #Crea la columna "Nueva", que es el resultado de sumarle 1 al valor de la columna symboling.
df.head()

   symboling normalized-losses         make  ... highway-mpg  price Nueva
0          3                 ?  alfa-romero  ...          27  13495     4
1          3                 ?  alfa-romero  ...          27  16500     4
2          1                 ?  alfa-romero  ...          26  16500     2
3          2               164         audi  ...          30  13950     3
4          2               164         audi  ...          22  17450     3

[5 rows x 27 columns]

### Seleccionar columnas.

In [ ]:
df2 = df[["symboling", "make", "price", "num-of-doors"]] #Seleccionar columnas.
df2.head()

   symboling         make  price num-of-doors
0          3  alfa-romero  13495          two
1          3  alfa-romero  16500          two
2          1  alfa-romero  16500          two
3          2         audi  13950         four
4          2         audi  17450         four

In [ ]:
df3 = df.drop(["normalized-losses", "aspiration", "body-style", "symboling"],axis=1) #Axis 1 para eliminar columnas. Para filas se coloca 0
df3.head()

          make fuel-type num-of-doors  ... highway-mpg  price  Nueva
0  alfa-romero       gas          two  ...          27  13495      4
1  alfa-romero       gas          two  ...          27  16500      4
2  alfa-romero       gas          two  ...          26  16500      2
3         audi       gas         four  ...          30  13950      3
4         audi       gas         four  ...          22  17450      3

[5 rows x 23 columns]

## Valores faltantes / Missing values

In [ ]:
df.replace('?',np.NaN)  #Reemplzazar ? por valores NaN. Sin embargo no se hace ningun cambio en el DF.
df.head()
df.replace('?',np.NaN,inplace=True) #valor a cambiar, valor a poner. Inplace es para modificar directamente el DF
df.head()

In [ ]:
df.head()

   symboling normalized-losses         make  ... highway-mpg  price Nueva
0          3               NaN  alfa-romero  ...          27  13495     4
1          3               NaN  alfa-romero  ...          27  16500     4
2          1               NaN  alfa-romero  ...          26  16500     2
3          2               164         audi  ...          30  13950     3
4          2               164         audi  ...          22  17450     3

[5 rows x 27 columns]